<section class="container my-5">
    <form #register="ngForm" (ngSubmit)="reg(register)">
        <div class="mb-3">
            <input name="name" placeholder="full name" #name="ngModel" ngModel required minlength="2" maxlength="20" class="form-control">
            <div class="my-3  alert alert-danger" *ngIf="name.invalid && (name.dirty || register.submitted || name.touched )">
                <li *ngIf="name.errors?.['required']">
                    Name is Required
                </li>
                <li *ngIf="name.errors?.['minlength']">
                    Name must be greater than 3 characters
                </li>
                <li *ngIf="name.errors?.['maxlength']">
                    Name must be less than 20 characters
                </li>
            </div> 
        </div>
        <div class="mb-3">
            <input name="age" placeholder="age" ngModel class="form-control" required #age="ngModel" pattern="[0-9][0-9]">
            <div class="my-3 alert alert-danger" *ngIf="age.invalid && (age.touched|| age.dirty || register.submitted)" >
                <li *ngIf="age.errors?.['required']">Age is required</li>
                <li *ngIf="age.errors?.['pattern']">Invalid age format</li>
            </div>
        </div>
        <div class="mb-3">
            <input name="email" placeholder="email" ngModel required email #email="ngModel" class="form-control">
            <div class="alert alert-danger" *ngIf="emailUniqueError">
                Email already exists, please choose another one!
            </div>
            <div class="my-3 alert alert-danger" *ngIf="email.invalid && (email.touched|| email.dirty || register.submitted) ">
                <li *ngIf="email.errors?.['email']">Email invalid format</li>
                <li *ngIf="email.errors?.['required']">Email is required</li>
            </div>
        </div>
        <div class="mb-3">
            <input name="password" placeholder="password" #password="ngModel" ngModel required minlength="6" maxlength="20" class="form-control">
            <div class="my-3  alert alert-danger" *ngIf="password.invalid && (password.dirty || register.submitted || password.touched )">
                <li *ngIf="password.errors?.['required']">
                    password is Required
                </li>
                <li *ngIf="password.errors?.['minlength']">
                    password must be greater than 3 characters
                </li>
                <li *ngIf="password.errors?.['maxlength']">
                    password must be less than 20 characters
                </li>
            </div>
        </div>
        <button class="btn btn-primary">register</button>
    </form>
</section>