<section class="container my-5">
    <div class="my-3 alert alert-primary">
        <p>Valid => {{registerForm.valid}}</p>
        <p>Invalid => {{registerForm.invalid}}</p>
        <p>Value => {{registerForm.value| json}}</p>
        <p>Touched => {{registerForm.touched}}</p>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="mb-3">
            <input name="name" placeholder="full name" class="form-control" formControlName="name">
            <div class="my-3  alert alert-danger" *ngIf="name?.invalid && (name?.dirty || name?.touched || isSubmitted )">
                <li *ngIf="name?.errors?.['required']">
                    Name is Required
                </li>
                <li *ngIf="name?.errors?.['minlength']">
                    Name must be greater than 3 characters
                </li>
                <li *ngIf="name?.errors?.['maxlength']">
                    Name must be less than 20 characters
                </li>
            </div>
        </div>
        <div class="mb-3">
            <input name="age" placeholder="age" class="form-control" formControlName="age">
        </div>
        <div class="mb-3">
            <input name="email" placeholder="email"  class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
            <input name="password" placeholder="password" class="form-control" formControlName="password">
        </div>
        <button class="btn btn-primary">register</button>
    </form>
</section>