<section class="container">
    <form [formGroup]="profileForm">
        <div class="mb-3">
            <input class="form-control" name="firstName" formControlName="first_name" placeholder="name">
        </div>
        <div class="mb-3">
            <input class="form-control" name="telephone" formControlName="phone" placeholder="phone">
        </div>
        <div class="mb-3">
            <input class="form-control" name="email" formControlName="email" placeholder="email">
        </div>
        <div class="mb-3">
            <button  class="btn btn-primary">Register</button>
        </div>
        
    </form>
</section>